html, body {
    width: 100%;
    font-size: 17px;
    /*background-image:url("index.jpg");
    background-repeat:no-repeat;
    background-size:cover;*/
}

header{    
    background-color: darkslategray;
    padding-top:8px;
    padding-bottom:5px;
}

header h1{    
    line-height:1.1em;
}

.header-label{
    color:white
}

.header-info{
    color:cadetblue
}

.heading{
    position:sticky;
    top:0;
    z-index:1;
}

.footer{
    background-color:white;
    padding-bottom:10px;
    margin-top:10px;
}

footer{
    padding-top:10px;
    padding-bottom:10px;
    background-color: darkslategray;    
}

.white{
    color:white;
}

select{
    min-width:167px;
    text-align:center;
    background-color:wheat;
}

#filters{
    margin-top:-10px;
    padding-top:20px;
    background-color:white;
    padding-bottom:12px;
}
 
#newsContent{
    margin-top:0px;
}

    #newsContent > div:first-of-type {
        margin-top: 40px;
    }
 
#newsContent img{
   width:100px;
   height:100px;
}

aside {
    border: 3px;
    border-color: aliceblue;
    background-color: bisque;
    overflow: auto;
    min-height: calc(100% - 295px);
    margin-top: 50px;
    padding: 15px;
}

    aside p {
        color:cadetblue;
        font-size:20px;
    }

.seperator{
    margin-bottom:100px;
}

.info-headers{
    font-size:16px;
}

.info-desc{    
    margin-top:10px;
    font-size:15px;
}

.info-desc  span{
    text-align:justify;
}

.info-desc > small{
    float:right;
}

 .info-desc a{
     color:darkblue;
 }

.full-width{
    width:100%;
}

.single-news{
    background-color:cadetblue;
    padding-top:8px;
    padding-bottom:8px;
    margin-top:10px;
    color:white;
}

#divMsg{
    font-size:16px;
    text-align:center;
    position:fixed;
    font-weight:500;
    z-index:1;
    background-color:bisque;
    padding:5px 10px 5px 10px;
}

.attribution {
    margin-top: -10px;
    margin-right: 10px;
    color:white;
}

.attribution a{
    color:aqua;
}

@media screen and (min-width:768px) and (max-width:950px){
    aside ul {
        list-style: none;
        padding: 0;
        font-size: 16px;
    }

    aside p {
        font-size: 18px;
    }
}

@media screen and (min-width:768px) {
    select {
        float: left;
    }

    aside {
        width: 20%;
        height: calc(100% - 295px);
        padding: 0px;
        margin-top: 10px;
        position: fixed;
    }

    #divMsg {
        font-size: 18px;
    }
}

@media screen and (min-width:1200px) {
    aside {
        height: calc(100% - 270px);
        padding:25px;
    }
}